.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.form-container h1 {
  text-align: center;
  font-size: 3rem;
  font-style: italic;
  font-family: "La Belle Aurore", cursive;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  word-spacing: 0.5rem;
  color: var(--color-2);
  margin-bottom: 2rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50rem;
}

.input-container label {
  font-size: 1.5rem;
  font-weight: 700;
}

.input-container input {
  width: 100%;
  height: 4rem;
  border: none;
  outline: none;
  font-size: 2rem;
  border-bottom: 2px solid var(--color-1);
}

.type-container {
  width: 50rem;
}

.label {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.type-row {
  margin-top: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.type {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  background-color: rgb(250, 250, 250);
  padding: 2rem;
}

.type svg {
  padding: 0.3rem;
  width: 5rem;
  border-radius: 100%;
  background-color: rgb(255, 0, 0, 0.4);
}

.type:nth-child(2) svg {
  background-color: rgb(0, 128, 0, 0.4);
  color: #333;
}

.type h4 {
  font-size: 2rem;
}

.amount-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.container input {
  width: 8rem;
  height: 4rem;
  border: none;
  outline: none;
  font-size: 2rem;
  border-bottom: 2px solid var(--color-1);
  text-align: center;
}

.number {
  font-size: 4rem;
}

.container input::-webkit-outer-spin-button,
.container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.container input[type="number"] {
  -moz-appearance: textfield;
}

.active {
  border: 2px rebeccapurple solid;
}

.btn {
  border: none;
  background-color: var(--color-1);
  color: #fff;
  width: 100%;
  height: 4rem;
  font-size: 2rem;
  transition: all 0.05s;
}

.btn:hover {
  background-color: rgb(153, 81, 255, 0.9);
  cursor: pointer;
}

.error-container {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.error-container svg {
  width: 2rem;
  color: red;
}

.error {
  text-align: left;
  font-size: 1.5rem;
  color: red;
  font-weight: 300;
  text-align: center;
}
