.btn {
  padding: 2rem;
  border-radius: 100%;
  border: none;
  background-color: rgb(255, 255, 255);
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
  position: fixed;
  bottom: 2%;
  right: 2%;
  cursor: pointer;
}

.btn a svg {
  width: 4rem;
  display: block;
}
