:root {
  --color-1: #9951ff;
  --color-2: #6900ff;
  --color-3: #ffd700;
  --color-4: #faf7ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  line-height: 1.5;
  background: #f8fafc;
  color: #333;
  background-color: var(--color-4);
}

a {
  text-decoration: none;
  color: #333;
}

p {
  margin: 1rem 0;
  font-size: 1.5rem;
  color: var(--text-color);
}

ul {
  list-style: none;
}

li {
  line-height: 2;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

@media (max-width: 900px) {
  body,
  * {
    font-size: 8px;
  }
}
