.item {
  padding: 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.svg {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.svg svg {
  width: 4rem;
}

.svg h4 {
  font-size: 3rem;
  font-style: italic;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.date svg {
  width: 2rem;
}

.name {
  font-size: 2rem;
  margin-bottom: 0.4rem;
  text-align: center;
  white-space: nowrap;
}

.date {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 1.5rem;
}

.expense {
  color: red;
}

.aqusition {
  color: green;
}

@media (max-width: 767px) {
  .svg h4 {
    font-size: 2rem;
  }

  .svg svg {
    font-size: 3rem;
  }

  .name {
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
  }

  .date {
    font-size: 1.2rem;
  }
}
